<footer class="text-center mt-4">
  <p class="footer-text">
    Created with <span class="text-danger">❤️</span> by Mr. Gray Enterprises,
    LLC.
  </p>
  <p class="footer-text">&copy; 2025 | Focus100</p>
</footer>
