<form action="/api/reset-password" method="POST">
  <input type="hidden" name="token" value="<%= token %>" />
  <div class="mb-2">
    <label for="password" class="form-label">New Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control rounded-pill"
      required
    />
  </div>
  <div class="mb-2">
    <label for="confirmPassword" class="form-label">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      class="form-control rounded-pill"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary w-100 rounded-pill py-2 mt-3">
    Reset Password
  </button>
</form>
