.navbar {
  background-color: #f8f9fa; /* Light background */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #157347; /* Primary brand color */
}

.navbar-nav .nav-link {
  color: #495057; /* Darker gray for visibility */
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar-nav .nav-link.active {
  color: #157347; /* Highlight active link in primary blue */
  font-weight: 700;
  /* text-shadow: 0px 0px 3px rgba(13, 110, 253, 0.5); */
}

.navbar-nav .nav-link:hover {
  color: #034426; /* Hover effect to primary blue */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(0.5); /* Ensure the hamburger icon is visible */
}

.navbar .text-danger {
  font-weight: bold;
  color: #dc3545 !important; /* Bold red for logout */
}

.navbar .shadow-sm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.navbar .badge {
  font-size: 0.8rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.badge {
  font-size: 0.75rem;
  margin-left: 5px;
}
